@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Libre+Caslon+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Cinzel:wght@400..900&family=Libre+Caslon+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    color: #2A2D57;
    font-size: 16px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Cinzel", serif;
}

#hero {
    height: 100vh;
    color: white;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-image: url(img/index/aldexyn.jpg);
}

#logo {
    height: 70vh;
    padding-top: 10vh;
}

#logo > img {
    height: 60px;
}

.message {
    color: white;
    font-size: 1.5rem;
    line-height: 10vh;
}

@media (max-width: 800px) {
    .message {
        font-size: 1rem;
    }
} 

section {
    padding: 5%;
}

.subtitle {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.subtitle::before {
    content: '';
    margin-right: 30px;
    border-left: 5px solid #2A2D57;
}

span {
    margin-right: 10px;
    transform: translateY(6px);
}

.font {
    line-height: 30px;
    margin-bottom: 20px;
    font-family: "Baskervville", serif;
}

/* Strategy */

#strategy {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#strategy > div {
    width: 55%;
    margin-bottom: 20px;
}

#strategy > div > p {
    color: #2A2D57;
    margin-bottom: 20px;
}

#strategy > img {
    width: 34%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 5px rgba(232, 232, 232, 1);
}

@media (max-width: 800px) {
    #strategy > div, #strategy > img {
        width: 100%;
    }
}

/* Project */

#project {
    background: linear-gradient(135deg, rgba(42, 45, 87, 0.3), rgba(42, 45, 87, 0));
}

#project > ul > li {
    background: white;
}

#hakuba {
    width: 100%;
    padding-top: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(img/index/thetimefuji.jpg);
}

#saunaxx {
    width: 100%;
    padding-top: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(img/index/saunaxx.webp);
}

#tbc {
    width: 100%;
    padding-top: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(img/index/call.jpg);
}

/* Research */

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

li {
    width: 31%;
    margin: 20px 0px;
    transition: all 0.5s;
    box-shadow: 3px 3px 10px 0px rgba(232, 232, 232, 0.5);
    border: 1px solid rgba(232, 232, 232, 1);
}

@media (max-width: 800px) {
    li {
        width: 100%;
    }
}

li:hover {
    transform: translateY(-3px);
    box-shadow: 5px 5px 5px 3px rgba(232, 232, 232, 0.5);
}

li > a {
    width: 100%;
    height: 100%;
    display: inline-block;
}

li > a > img {
    width: 100%;
}

li > a > p {
    padding: 10px 15px;
    color: #2A2D57;
}

.name {
    font-size: 1.2rem;
}

#contact {
    background: linear-gradient(to top, rgba(186, 184, 151, 0.5), rgba(186, 184, 151, 0));
}

#contact > .subtitle::before {
    border-left: 5px solid rgba(186, 184, 151, 1);
}

#contact > p {
    color: rgba(186, 184, 151, 1);
}
